@{
    ViewData["Title"] = "Chính sách riêng tư";
    Layout = "_PartialLayout";
}

<div class="d-flex justify-content-center h-100">
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <h1>@ViewData["Title"]</h1>

            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </section>
</div>