@{
    ViewData["Title"] = "Vô hiệu hóa chứng thực hai bước (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Hành động này chỉ vô hiệu hóa chứng thực hai bước (2FA).</strong>
    </p>
    <p>
        Vô hiệu hóa chứng thực hai bước (2FA) không làm thay đổi các khoa được dùng trong các ứng dụng chứng thực. 
        Nếu bạn muốn thay đổi khóa, được dùng trong một ứng dụng xác thực, bạn nên vào <a asp-action="ResetAuthenticatorWarning">đây</a> để khôi phục khóa chứng thực.
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Tắt 2FA</button>
    </form>
</div>
