@model EnableAuthenticatorViewModel
@{
    ViewData["Title"] = "Cho phép Trình chứng thực";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div>
    <p>Để sử dụng một ứng dụng chứng thực, bạn nên thực hiện theo các bước sau:</p>
    <ol class="list">
        <li>
            <p>
                Tải về một ứng dụng chứng thực hai bước giống như Microsoft Authenticator dành cho hệ điều hành
                <a href="https://go.microsoft.com/fwlink/?Linkid=825072">Android</a> và
                <a href="https://go.microsoft.com/fwlink/?Linkid=825073">iOS</a>, hoặc
                Google Authenticator cho
                <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&amp;hl=en">Android</a> và
                <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8">iOS</a>.
            </p>
        </li>
        <li>
            <p>Quét mã QR hoặc nhập khóa này <kbd>@Model.SharedKey</kbd> vào ứng dụng chứng thực hai bước. Khoảng cách hay ký tự hoa không quan trọng.</p>
            <div class="alert alert-info">Để bật tạo mã QR, vui lòng tham khảo <a href="https://go.microsoft.com/fwlink/?Linkid=852423">tài liệu này</a>.</div>
            <div id="qrCode"></div>
            <div id="qrCodeData" data-url="@Model.AuthenticatorUri"></div>
        </li>
        <li>
            <p>
                Một khi bạn đã quét mã QR hoặc nhập khóa ở trên rồi, ứng dụng chứng thực hai bước sẽ cung cấp bạn một mã xác nhận duy nhất. Nhập mã này vào ô phía dưới.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Code" class="control-label">Mã xác nhận</label>
                            <input asp-for="Code" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">Xác nhận</button>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    </form>
                </div>
            </div>
        </li>
    </ol>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
