@{
    ViewData["Title"] = "Tạo mã khôi phục xác thực hai bước (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Hành động này tạo các mã khôi phục mới.</strong>
    </p>
    <p>
        Nếu bạn thất lạc thiết bị và không có các mã khôi phục, bạn sẽ mất quyền truy cập vào tài khoản của bạn.
    </p>
    <p>
        Tạo các mã khôi phục mới không làm thay đổi các khóa dùng trong các ứng dụng chứng thực hai bước. 
        Nếu bạn muốn thay đổi khóa được dùng trong một ứng dụng chứng thực, bạn nên vào <a asp-action="ResetAuthenticatorWarning">đây</a> để khôi phục khóa chứng thực.
    </p>
</div>

<div>
    <form asp-action="GenerateRecoveryCodes" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Tạo các mã khôi phục</button>
    </form>
</div>
