@{
    ViewData["Title"] = "Thông báo xác nhận địa chỉ email";
    Layout = "_PartialLayout";
}

<div class="d-flex justify-content-center h-100">
    <section class="vh-100 vw-50">
        <div class="container-fluid h-custom">
            <div class="text-center">
                <h3>Chúng tôi đã gửi một email xác nhận đến địa chỉ email mà bạn đã đăng ký.</h3>
                <h4>Vui lòng theo sự hướng dẫn của email để kích hoạt tài khoản.</h4>
            </div>
        </div>
    </section>
</div>

@section Styles
    {
    <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
    }