@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
    Layout = "_PartialLayout";
}

<div class="d-flex justify-content-center h-100">
    <section class="vh-100 vw-50">
        <div class="container-fluid h-custom">
            <div class="text-center">
                <h3>Vui lòng kiểm tra hộp thư email của bạn để khôi phục mật khẩu.</h3>
            </div>
        </div>
    </section>
</div>

@section Styles
    {
    <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
    }