@using SupplyChainManagement.Models.AccountViewModels;
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "_PartialLayout";
}

<div class="d-flex justify-content-center h-100">
    <section class="vh-100 vw-50">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <form asp-action="ForgotPassword" method="post">
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 text-uppercase">Khôi phục mật khẩu</p>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" asp-for="Email"></label>
                        <input type="email" asp-for="Email" class="form-control"
                               placeholder="Nhập địa chỉ email hợp lệ" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="text-center mt-4 pt-2">
                        <button type="submit" class="btn btn-primary"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Khôi phục mật khẩu
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

@section Styles
    {
    @if (env.IsProduction())
    {
        <link rel="stylesheet" href="~/css/login.min.css" asp-append-version="true" />
    }
    else
    {
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    }
    }

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    }