<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                &copy; 2023 - Hệ thống Quản lý Chuỗi cung ứng
            </div>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Chính sách riêng tư</a>
                &middot;
                <a href="/swagger">Swagger</a>
            </div>
        </div>
    </div>
</footer>