<!DOCTYPE html>
<html lang="vi">
<head>
    <Partial name="_Header" />
    <script defer src="~/lib/fontawesome/js/all.min.js"></script>
    <link href="~/lib/simple-datatables-style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body class="sb-nav-fixed">
    <Partial name="_Nav" />

    <div id="layoutSidenav">
        <Partial name="_SidebarNav" />

        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    @RenderBody()
                </div>
            </main>

            <Partial name="_Footer" />
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/simple-datatables.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Syncfusion ASP.NET Core Script Manager -->
    @await RenderSectionAsync("Scripts", required: false)
    <ejs-scripts></ejs-scripts>
</body>
</html>
