<!DOCTYPE html>
<html lang="vi">
<head>
    <Partial name="_Header" />
    <script defer src="~/lib/fontawesome/js/all.min.js"></script>
    <link rel="stylesheet" href="~/lib/core.min.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <Partial name="_Footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
