@using ApplicationCore.Entities;
@using Infrastructure.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserProfilesService userProfilesService
@{
    ViewData["Title"] = "Thay đổi vai trò người dùng";
    var roles = ViewBag.Roles;
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house-user"></i></a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" asp-action="UserProfilesEdit" class="text-decoration-none">Quản lý Người dùng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Thay đổi vai trò</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <ejs-message id="msg_info_filled" severity="Info" variant="Filled" content="Nhấp đúp chuột vào ô bên dưới để cập nhật quyền"></ejs-message>
        </div>
        <div class="row mt-2">
            <ejs-grid id="Grid" allowPaging="true" allowSorting="true" allowFiltering="true"
                      toolbar="@(new List<string>() { "Cancel", "Update", "Search"})" locale="vi-VN"
                      printMode="CurrentPage">
                <e-grid-groupSettings showGroupedColumn="true" showDropArea="true"></e-grid-groupSettings>
                <e-data-manager json="@roles.ToArray()" updateUrl="/api/Role/UpdateUserRole"
                                offline="true" adaptor="RemoteSaveAdaptor"></e-data-manager>
                <e-grid-editSettings allowEditing="true" allowAdding="false" allowDeleting="false"></e-grid-editSettings>
                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="CounterId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
                    <e-grid-column field="ApplicationUserId" headerText="Id người dùng" visible="false"></e-grid-column>
                    <e-grid-column field="RoleName" headerText="Tên vai trò" allowEditing="false"></e-grid-column>
                    <e-grid-column field="IsHaveAccess" headerText="Quyền truy cập" displayAsCheckBox="true" type="boolean" editType="booleanedit"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</section>

@section Scripts{
    <script>

    </script>
}