@using ApplicationCore.Entities;
@using Infrastructure.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@inject UserProfilesService userProfilesService
@{
    ViewData["Title"] = "Đổi mật khẩu";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    UserProfile profile = await userProfilesService.GetByApplicationUserIdAsync(appUser.Id.ToString());
    List<UserProfile> data = new(){profile};
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house-user"></i></a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" class="text-decoration-none">Quản lý Người dùng</a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" asp-action="UserProfile" class="text-decoration-none">Hồ sơ người dùng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Đổi mật khẩu</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <ejs-message id="msg_info_filled" severity="Info" variant="Filled" content="Nhấp đúp chuột vào ô bên dưới để cập nhật mật khẩu"></ejs-message>
        </div>
        <div class="row mt-2">
            <ejs-grid id="Grid" actionComplete="completeGridPassword"
                      toolbar="@(new List<string>() { "Cancel", "Update" })" locale="vi-VN">
                <e-data-manager json="@data.ToArray()" updateUrl="/api/UserProfile/ChangePassword"
                                adaptor="RemoteSaveAdaptor"></e-data-manager>
                <e-grid-editSettings allowEditing="true"></e-grid-editSettings>
                <e-grid-columns>
                    <e-grid-column field="OldPassword" headerText="Mật khẩu cũ"
                                   textAlign="Right"></e-grid-column>
                    <e-grid-column field="Password" headerText="Mật khẩu mới"
                                   textAlign="Right"></e-grid-column>
                    <e-grid-column field="ConfirmPassword" headerText="Mật khẩu xác nhận"
                                   textAlign="Right"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</section>

@section Scripts
    {
    <script>
        var L10n = ej.base.L10n;
        L10n.load({
            "vi-VN": {
                "grid": {
                    'Edit': "Chỉnh sửa",
                    'Cancel': "Hủy",
                    'Update': "Cập nhật",
                    'EmptyRecord': 'Không có bản ghi nào được hiển thị',
                    'EmptyDataSourceError': 'Nguồn dữ liệu không được để trống khi tải lần đầu vì các cột từ nguồn dữ liệu nằm trong Lưới cột tự động tạo',
                    'Item': 'Bài',
                    'Items': 'Các bài'
                }
            }
        });

        function completeGridPassword(args) {
            if (args.requestType == "save") {
                alert("Thay đổi mật khẩu")
                this.refreshContent();
            }
        }
    </script>
    }