@using ApplicationCore.Entities;
@using Infrastructure.Data;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager
@inject UserProfilesService userProfilesService
@{
    ViewData["Title"] = "Quản lý hồ sơ";
    var profiles = await userProfilesService.GetAsync();
    List<object> commands = new List<object>();
    commands.Add(new { type = "userstatus", buttonOption = new { content = "Gán vai trò", cssClass = "e-flat e-details" } });
}

<section>
    <div class="container py-5">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="#"><i class="fa-solid fa-house-user"></i></a></li>
                        <li class="breadcrumb-item"><a asp-controller="UserRole" class="text-decoration-none">Quản lý Người dùng</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quản lý hồ sơ</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <ejs-message id="msg_info_filled" severity="Info" variant="Filled" content="Nhấp đúp chuột vào ô bên dưới để cập nhật hồ sơ"></ejs-message>
        </div>
        <div class="row mt-2">
            <ejs-grid id="Grid" actionComplete="completeGrid" allowPaging="true" allowSorting="true" allowFiltering="true"
                      dataBound="dataBound" actionComplete="actionComplete" commandClick="commandClick"
                      toolbar="@(new List<string>() { "Cancel", "Update", "Search", "Print" })" locale="vi-VN"
                      printMode="CurrentPage">
                <e-grid-groupSettings showGroupedColumn="true" showDropArea="true"></e-grid-groupSettings>
                <e-data-manager json="@profiles.ToArray()" updateUrl="/api/UserProfile/UpdateByAdmin"
                                offline="true" adaptor="RemoteSaveAdaptor"></e-data-manager>
                <e-grid-editSettings allowEditing="true"></e-grid-editSettings>
                <e-grid-filterSettings type="Excel"></e-grid-filterSettings>
                <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
                <e-grid-columns>
                    <e-grid-column field="FirstName" headerText="Họ và tên đệm"></e-grid-column>
                    <e-grid-column field="LastName" headerText="Tên"></e-grid-column>
                    <e-grid-column field="Phone" headerText="Số điện thoại"></e-grid-column>
                    <e-grid-column field="Email" headerText="Địa chỉ email"></e-grid-column>
                    <e-grid-column field="Birthday" headerText="Ngày sinh" customFormat="@(new { type ="date", format="dd/MM/yyyy" })"
                                   editType="datepickeredit"></e-grid-column>
                    <e-grid-column headerText="Hành động" commands="commands"> </e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>
</section>

@section Scripts{
    <script>
        function updateTemplate() {
            var numeric;
            var grid = document.getElementById("Grid").ej2_instances[0];
            numeric = new ej.inputs.NumericTextBox({
                min: 1,
                max: 3,
                step: 1,
                format: '###.##',
                change: function (args) {
                    let value = args.value;
                    grid.goToPage(value);
                }
            });
            numeric.appendTo('#currentPage');
        };

        var flag = true;
        function dataBound() {
            if (flag) {
                flag = false;
                updateTemplate();
            }
        }

        function actionComplete(args) {
            if (args.requestType === 'paging') {
                updateTemplate();
            }
        }

        function commandClick(args) {
            var appUserId = args.rowData['ApplicationUserId'];
            var profileId = args.rowData['Id'];
            window.location.href = '@Url.Action("ChangeRole", "UserRole")?applciationUserId=' + appUserId + '&userProfileId=' + profileId;
        }
    </script>

    <script id="template" type="text/x-template">
        <div class="e-pagertemplate">
            <div class="col-lg-12 control-section">
                <div class="content-wrapper">
                    <input id="currentPage" type="text" value=${currentPage}>
                </div>
            </div>

            <div id="totalPages" class="e-pagertemplatemessage" style="margin-top:5px;margin-left:30px;border: none; display: inline-block ">
                <span class="e-pagenomsg">${currentPage} of ${totalPages} pages (${totalRecordsCount} items)</span>
            </div>
        </div>
    </script>
}