.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 2px;
    background: #012340;
    opacity: 50%;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

img {
    border-radius: 8px;
    box-shadow: 0 13px 27px -5px #32325d40, 0 8px 16px -8px #0000004d, 0 -6px 16px -6px #00000008;
    height: auto;
    max-width: 100%;
}

input {
    border: 1px solid #bdbdbd !important;
}
